* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #333;
  color: #7ab22a;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav li:hover a {
  color: red;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.3s all ease-in-out;
}

/* Main section */
main {
  padding: 50px !important;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.container {
  padding: 0 50px;
}

.actor-info h3 {
  font-size: 1.5em
}

.actor-photo {
  margin-right: 50px;
  width: 300px;
}

.actor-photo img {
  max-width: 100%;
  height: auto;
}

.actor-info {
  flex-grow: 1;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Contact info */
.contact-info {
  position: relative;
  top: 20px;
  right: -70px;
  color: #333;
  font-size: 1.2em;
  text-align: left;
}

.contact-info a {
  text-decoration:none;
  color: #333
}

#form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

#form h3 {
  font-size: 1.5em;
  margin-top: 2rem;
}

.input {
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
}

input {
  padding: 15px;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1rem;
}

textarea {
  padding: 15px;
  outline: none;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.button {
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 1rem;
  background: gold;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1em;
}

.button:hover {
  background: rgb(255, 255, 255);
  color: white;
}

@media (max-width: 992px) {
  main {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 768px) {
  main {
    grid-template-columns: none;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgb(255, 255, 255);
  }
}
